body {
	text-align: center; 
  	font-family: Arial, sans-serif;
}
.search_button {
 	background-color: #50A060;
  	border: 1px solid #50A060;
  	padding: 10px;
  	font-size: 14pt;
  	color: white;
  transition: all .25s ease;
}
.search_button:hover{
  color: #50A060;
  border: 1px solid #50A060;
  background-color: white;
}
#search_box {
 	height:30px;
	font-size:14pt; 
}
.title{
	width: 500px;
	height: auto;
}
