body {
	text-align: center; 
  	font-family: Arial, sans-serif;
}
.search-button {
 	background-color: #50A060;
  	border: 1px solid #50A060;
  	padding: 10px;
  	font-size: 14pt;
  	color: white;
  transition: all .25s ease;
}
.search-button:hover{
  color: #50A060;
  border: 1px solid #50A060;
  background-color: white;
}
.search-box {
 	height:30px;
	font-size:14pt; 
}
.title{
	width: 500px;
	height: auto;
}
#results{
	padding: 70px;
  	border: 1px solid #4CAF50;
}
#search_div{
	width: 320px;
 	margin: auto;
	border: 1px solid #4CAF50;
	text-align: left;
}
.filters{
	padding-top: 10px;
}
.error {
	border:2px solid red;
  }